<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top float-right">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Your Website Name</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <!-- JavaScript code will populate this list with headings from the current page -->
            </ul>
        </div>
    </div>
</nav>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        var headings = $(".content-area").find("h1, h2, h3, h4, h5, h6");
        var navigationList = $(".navbar-nav");

        headings.each(function (index) {
            var headingText = $(this).text();
            var headingTag = $(this).prop("tagName").toLowerCase();
            var listItem = $("<li class='nav-item'><a class='nav-link' href='#" + headingTag + index + "'>" + headingText + "</a></li>");
            $(this).attr("id", headingTag + index);
            navigationList.append(listItem);
        });
    });
</script>