// Custom GLightbox styles

.glightbox-container {
  .gslide-description {
    background: var(--color-background);
    color: var(--color-text);
    font-size: var(--type-size);
    font-family: var(--type-serif);
  }

  .gslide-title h4 {
    font-weight: bold;
    color: var(--color-heading);
    font-family: var(--type-caps);
    letter-spacing: 0.1em;
    margin-top: 0;
    margin-bottom: 0.8em;
    font-size: 1.25em;
  }
}