.glightbox-clean {
  .gdesc-inner {
    background-color: var(--color-background);
    color: var(--color-text);
    font-size: var(--type-size);
    font-family: var(--type-serif);
  }

  .gslide-title {
    font-size: 1.25em;
    font-weight: 500;
    font-family: var(--type-caps);
    color: var(--color-heading);
    letter-spacing: 0.1em;
    margin-top: 0;
    margin-bottom: .2em;
  }

  .gslide-desc {
    font-size: 1em;
    font-weight: 400;
    font-family: var(--type-serif);
    color: var(--color-text);
    margin-top: 0;
    margin-bottom: 0;
  }
}

a.glightbox {

  &:focus,
  &:hover {
    border-bottom: none;
  }
}