.particles-container {
  @media (max-width: 992px) {
    height: 100vh;

    .jumbotron {
      height: 100vh;
    }

    .row.justify-content-center.align-content-center {
      height: 100vh;
    }

    .particles-scroll {
      display: block;
    }

    .particles-js-canvas-el {
      height: 100vh;
    }
  }
}

.particles-scroll {
  display: none;
}


#particles-js {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--color-particles-background);

  .particles-js-canvas-el {
    width: 100%;
    min-height: 25vh !important;
  }

  .jumbotron {
    position: absolute;
    top: 0%;
    left: 50%;
    // -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, 0%);
    pointer-events: none;
    height: 25vh;
  }
}

.fullscreen {
  min-height: 25vh;

  h1,
  h2 {
    color: var(--color-particles-text);
  }
}

.particles-photo {
  // width: 100%;
  border-radius: 10%;
  // margin: auto;
  // margin-bottom: 0.5em;
}

.particles-title {
  margin: 0;
  font-size: 2.5em;
  font-weight: 500;
  white-space: nowrap;
}

.particles-subtitle {
  margin: 0 0 1em 0;
  font-size: 1.25em;
  font-weight: 400;
}

.nowrap {
  white-space: nowrap;
}

.particles-icon {
  margin: 0 0.5em;
  pointer-events: all;

  svg {
    -webkit-transform: scale(1.8);
    transform: scale(1.8);
  }

  svg circle,
  svg path {
    stroke: var(--color-particles-text) !important;
    stroke-width: 0.05em;
  }

  &:focus,
  &:hover {
    border: none;

    svg circle,
    svg path {
      stroke-width: 0.075em;
    }
  }
}

.particles-scroll {
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  .particles-icon {
    position: relative;
    -webkit-animation: pulse 1s infinite;
    animation: pulse 1s infinite;
  }

  svg {
    -webkit-transform: scale(2.7);
    transform: scale(2.7);
  }
}